/*
* Custom code goes here.
* A template should always ship with an empty custom.css
*/

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

body {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#header{ 
    background: green !important; 
    display:flex;
    flex-direction: column;
}

.header-top{
    display:flex;
}

.header-nav{
    width: 100%;
    height: 100%;
    margin: 0;
}

.header-top .container{
    width: 1410px !important;
    display:flex;
}

img.logo.img-fluid{
    height: 125px !important;
    width: 476px !important;
}

.col-md-2{
    width: 476px !important;
    padding: 0px;
}


.hidden-sm-down{
    width:100%;
}

#search_widget{
    float: left;
    width: 70%;
    height: 65px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#searcher{
    position:absolute;
    right: 2%;
    top: 28%;

}

.header-top .container{
    width: 1200px;
}

.header-top .container .row{
    padding: 0px !important;
    margin-top: 0px !important;
}

#search_widget form .ui-autocomplete-input{
    padding-left: 0.8vw !important;
    padding-right: 0.8vw !important;
}

#search_widget form{
    display: flex;
}

form:has(.ui-autocomplete-input){
    height: 65px;
    width: 100%;
}

#search_widget{
    max-width: 700px !important;
}

.promotion{
    color: white;
    text-align: center;
    padding: 10px !important;
    margin: 0;
}

#promotion-anchor{
    color: white !important;
    text-decoration: underline !important;
}

.header-top-right{
    flex: 1;
}

#_desktop_user_info{
    margin-right: 3vw;
    margin-left: 3vw;
}
#_desktop_cart{
    padding: 10px;
}

#_desktop_cart{
    position: relative;
    background-color:#cce963;
    border-radius: 8px;
    width:100px;
    height:65px;
}

.button_holder{
    display:flex;
    float:right;
    height: fit-content;
}

.user-info{
    position:relative;
    border-radius: 8px;
    border-style:solid;
    border-width: 1px;
    border-color: lightgray;
    height:65px;
    width: 65px;
    align-content:center;
}
.user-info .material-icons{
    font-size: 65px !important;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    transform: scale(0.6);
    color: lightgray;
    transition: color 0.5s ease !important;
}

.user-info:hover .material-icons{
    color: black;
}

.user-info{
    background-color: white !important;
    transition: background-color 0.5s ease !important;
}

.user-info:hover{
    background-color: #cce963 !important;
}

div.btns121{
    display:none;
}

.user-info:hover div.btns121{
    display: block !important;
    color:grey;
}

div.btns121:hover {
    display: block !important;
    color:grey;
    background-color: #F5F5F5;
}

div.btns121{
    background-color: white;
    text-align: center;
    padding:10px;
    width: 200px;
    transform:translateX(-65px);
}


.main-navigation-janek{
    background-color: #301934;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button-item{
    flex-direction: horizontal;
    padding: 2em;
    color:white !important;
    font-weight: bold;
    text-align: center;
    transition: color 0.5s ease !important;
}

.button-item:hover{
    color:#cce963 !important;
}

#_desktop_top_menu{
    position:absolute !important;
    width:50%;
    opacity: 0;
    transform: translate(-30em, 170px);
    background-color: white;
}

#header:has(.category-items-button:hover) #_desktop_top_menu {
    opacity: 1;
    pointer-events: auto;
}

#_desktop_top_menu:hover {
    opacity: 1;
    pointer-events: auto; 
}
#_desktop_top_menu:not(:hover) {
    opacity: 0;
    pointer-events: none; /* Make it non-interactive */
}

.deeplevel_janek{
    list-style-type: disc !important;
    text-indent: 10px;
}

.dropdown-item{
    color:black !important;
    transition: color 0.5s ease;
}

.dropdown-item:hover{
    color: #cce963 !important;
}

.fa-phone-square-alt{
    color:#cce963;
    transform: scale(-1, 1);
}

.head-data-janek{
    display:flex;
    flex-direction: horizontal;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.infolinia-janek{
    border-right: solid lightgray 1px;
}

.head-element-janek{
    color: #7a7a7a;
    padding : 0.5vw;
    font-size: 10pt;
}

.links{
    float: right;
    margin-left: 5vw;
    display:flex;
}

.head-element-janek a{
    color: #7a7a7a !important;
    transition: color 0.5s ease;
}

.head-element-janek a:hover{
    color: #cce963 !important;
}

.fa-facebook-square{
    color:#5674b9;
    transition: color 0.5s ease;
}

.fa-facebook-square:hover{
    color:#90aae5;
}

.fa-instagram-square{
    color:#f0496c;
    transition: color 0.5s ease;
}

.fa-instagram-square:hover{
    color:#ffa1b5;
}

.two-data-janek{
    display:flex;
}